*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2EFE8;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

li {
    list-style: none;
}

/* HEADER */

.logo {
    background-color: rgba(235, 223, 198, 0.854);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 30px;
    border-bottom: 1px solid black;

}

.logo-floor {
    background-color: rgba(235, 223, 198, 0);
    max-height: 70px;
    max-width: auto;
}

.navbar {
    position: relative;
    height: 70px;
    background-color: rgba(235, 223, 198, 0.854);
    border-bottom: 3px double black;
}

.nav-list {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 150%;
}

.nav-list a {
    text-decoration: none;
}

.button-hamburger {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

.hamburger {
    display: block;
}

.hamburger-close {
    display: none;
}

.hamburger.hidden {
    display: none;
}

.hamburger-close.hidden {
    display: block;
}

@media (max-width: 50em) {

    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-hamburger {
        display: flex;
        margin: auto;
        background: transparent;
        border: none;
        cursor: pointer;
    }

    .nav-list {
        display: none;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;

        position: absolute;
        top: 70px;
        right: 0;

        width: 100%;

        height: auto;
        padding: 2rem 0;

        background-color: rgba(235, 223, 198, 0.95);

        z-index: 5;
    }

}

/* FOOTER */


.social-media {
    background-color: rgba(235, 223, 198, 0.854);
    display: flex;
    justify-content: space-around;
    border-top: 1px solid black;
}


.contact,
.pen,
.instagram {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;

    height: 5em;
    width: auto;
}

.contact-a,
.pen-a,
.instagram-a {
    display: flex;
    align-items: center;
}

.social-media span {
    font-family: "Parisienne",
        cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 120%;
}


.main-page {
    background-color: #F2EFE8;
    height: 100vh;
    max-width: auto;
    padding: 10%;
}

p {
    padding: 20px;
    /* display: flex;
    justify-content: center; */

    font-family: "Antic Didone", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 50em) {

    .social-media {
        justify-content: space-evenly;
    }

    .contact,
    .pen,
    .instagram {
        height: 3em;
        padding: 10px;
    }

    span {
        font-size: 90%;
    }


}

/* Notes From The Floor */

.articles {
    background-color: #F2EFE8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    gap: 20px;
    padding: clamp(3rem, 6vw, 6rem) 2rem;
}

.articles img {
    height: 20rem;
    width: 20rem;
}

.articles>div {
    min-width: 20rem;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.articles p {
    text-align: center;
    width: 20rem;
}

@media (max-width: 50em) {

    .articles {
        flex-direction: column;
        gap: 40px;
    }

    .articles>div {
        min-width: 15rem;
        max-width: 15rem;
    }

    .articles img {
        width: 15rem;
        height: 15rem;
    }

    .articles p {
        width: 15rem;
    }
}

/* CSS for the articles */

h1 {
    padding: 1rem;
}

h2 {
    width: 40rem;
    padding: 1rem;

    font-family: "Antic Didone", serif;
    font-weight: 400;
    font-style: normal;
}


.the-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: clamp(3rem, 6vw, 6rem) 2rem;
}

.the-article img {
    height: 30rem;
    width: 40rem;
}

figcaption {
    padding-bottom: 2rem;
    width: 40rem;
}

.the-article p {

    line-height: 1.8;
    text-align: left;

}

.the-article span {
    font-weight: 700;
}

@media (max-width: 50em) {
    .the-article img {
        height: 15rem;
        width: 15rem;
    }

    figcaption {
        padding-bottom: 2rem;
        width: 15rem;
    }

    h2 {
        font-size: 1rem;
        width: 15rem;
    }
}